* {
  box-sizing: border-box
}
body {
  margin: 0;
  font-family: sans-serif
}
a {
  text-decoration: none;
  color: #007BFF
}
a:hover {
  color: #0056B3
}
#sidebar {
  background: #0C0C5A
}
#sidebar > a {
  color: white
}
@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    left: 0;
    width: 18rem;
    height: 100%;
    padding: 2rem
  }
  main {
    max-width: 50rem;
    padding: 3rem;
    margin-left: 18rem
  }
}
@media (max-width: 767px) {
  #sidebar {
    width: 100%;
    padding: 1rem
  }
  main {
    padding: 1.5rem
  }
}
