body {
  margin: 0;
  font-family: sans-serif
}
a {
  text-decoration: none
}
a:hover {
  text-decoration: underline
}
#sidebar {
  background: #0C0C5A
}
#sidebar > a {
  color: white
}
@media (width >= 48rem) {
  #sidebar {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    width: 18rem;
    height: 100%;
    padding: 2rem
  }
  main {
    max-width: 50rem;
    padding: 3rem;
    margin-left: 18rem
  }
}
@media (width < 48rem) {
  #sidebar {
    width: 100%;
    padding: 1rem
  }
  main {
    padding: 1.5rem
  }
}
